
/* Основные стили */

html, body {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
}
#basic-left, .brand, .app-row, .app-cell, .table, .block_01, .block_02, .block_03, .block_04, .block_05, .block_11, pre, .pre {
	position: relative;
}
#main {
	height: 100%;
}
.auth_forms, .auth__registration__fields, .account__form {
	display: flex;
}
.half-width, .auth_forms, .auth__login, .auth__registration, .auth__registration__fields__left, .auth__registration__fields__right {
	width: 50%;
}
.auth .brand, .account .brand, .folder-new .brand  {
	top: -50px;
	text-align: center;
}
.auth__login {
	padding-right: 25px;
	text-align: right;
}
.auth__registration {
	padding-left: 25px;
}
.auth__registration__fields__left {
	padding-right: 5px;
}
.auth__registration__fields__right {
	padding-left: 5px;
}
#a {
	position: absolute;
}
#mapblock {
	position: absolute;
	top: 24px; right: 24px; bottom: 6px; left: 24px;
}
.table {
	display: table;
	width: 100%; height: 100%;
	overflow: hidden;
}
.app-row {
	display: table-row;
}
.app-cell {
	display: table-cell;
	box-sizing: border-box;
	padding: 24px;
	vertical-align: top;
	text-align: left;
}
#bottom-right, #bottom-basic, #bottom-left {
	vertical-align: middle;
}
#top-left h3 {
	margin: -8px 0 4px 0;
}
#top-right, #bottom-left, .control-buttons {
	text-align: center;
}
#top-basic > *:first-child {
	display: flex;
	align-items: flex-start;
}
.brand {
	min-width: 38.2%;
}
#message-main {
	box-sizing: border-box;
	position: absolute;
	top: 0; right: 0;
	max-width: 100%;
	margin: 11px;
	padding: 10px 20px 12px 20px;
	border-radius: 7px;
	background-color: rgba(0, 0, 0, 0.85);
	box-shadow: 0 4px 23px rgba(0, 0, 0, 0.7);
	text-align: right;
	cursor: default;
}
#top-basic {
	z-index: 10;
}
#basic {
	height: 100%;
}
#basic-basic {
	min-height: 250px;
}
#top-left, #top-right, #basic-left, #basic-right, #bottom-left, #bottom-right {
	padding: 12px;
}
#bottom-basic {
	padding: 12px 24px;
}
#bottom-basic input {
	margin: 2px;
}
.scrollable {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	padding: 12px;
	overflow: auto;
}
.control-buttons {
	margin: -4px;
}
.find-places-input {
	margin-top: 12px;
}
.sbs-top, .sbs-right, .sbs-bottom, .sbs-left {
	position: absolute;
	z-index: 100;
	transition: all 0.5s;
}
.sbs-top, .sbs-bottom {
	height: 20px;
	cursor: row-resize;
}
.sbs-right, .sbs-left {
	width: 20px;
	cursor: col-resize;
}
.sbs-top {
	top: -10px;
}
.sbs-right {
	right: -10px;
}
.sbs-bottom {
	bottom: -10px;
}
.sbs-left {
	left: -10px;
}

/* Разные стили */

.block_01, .block_02, .block_03, .block_04, .block_05, .block_11, pre, .pre {
	display: block;
	margin-bottom: 18px;
	padding: 11px 16px;
	z-index: 0;
}
.popup, .centered {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	padding: 50px;
}
.popup {
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 1000;
}
.popup > div {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	padding: 50px;
}
.centered {
	flex-direction: column;
}

@media screen and (max-width: 1000px) {
	.half-width, .auth_forms, .account__form {
		width: 100%;
	}
	#basic-left .scrollable, #basic-right .scrollable {
		position: relative;
		top: auto; right: auto; bottom: auto; left: auto;
	}
}
@media screen and (max-width: 650px) {
	.table {
		height: auto;
		min-height: 100%;
	}
	.app-row, .app-cell {
		display: block;
	}
	.app-cell {
		padding: 8px 24px;
	}
	#top-left, #top-right, #basic-left, #basic-right, #bottom-left, #bottom-right {
		width: 100% !important;
	}
	#main > .table:first-child, #basic, #basic-basic {
		display: flex;
		flex-direction: column;
		flex: auto;
	}
	#basic-left__places {
		max-height: 208px;
	}
	#top, #bottom {
		height: auto !important;
		min-height: 0;
	}
	#top-basic .brand {
		display: flex;
	}
	#top-basic .brand > *:first-child + * {
		display: flex;
		align-items: flex-end;
		padding-left: 20px;
	}
	.find-places-input {
		margin-top: 0;
	}
	#bottom-basic, #bottom-right, .sbs-top, .sbs-right, .sbs-bottom, .sbs-left {
		display: none;
	}
}
@media screen and (max-width: 500px) {
	#top-basic .brand > *:first-child + * {
		display: none;
	}
	.popup, .popup > div, .centered {
		padding: 10px;
	}
}
