<div class="popup-text about">
	<h2 class="margin_bottom_0">Места</h2>
	<p>v1.0.2</p>
	<p>Сервис просмотра и редактирования библиотек геометок</p>
	<p>Справка ещё не написана… Сорьте, всё будет.</p>
</div>
