@use "./PT-Serif_Regular.css";
@use "./PT-Serif_Italic.css";
@use "./PT-Serif_Bold.css";
@use "./PT-Serif_Bold-Italic.css";
@use "./PT-Serif_Caption-Regular.css";
@use "./PT-Serif_Caption-Italic.css";
