$col-01: rgb(224, 227, 255);
$col-02: rgb(160, 183, 200);
$col-03: rgb(62, 108, 144);
$col-04: rgb(23, 52, 70);
$col-05: rgb(77, 129, 178);
$col-06: rgb(0, 95, 153);
$col-07: rgb(126, 183, 234);
$col-08: rgb(164, 202, 255);
$col-09: rgb(126, 178, 218);
$col-10: rgb(89, 138, 175);
$col-11: rgb(139, 192, 232);
$col-12: rgb(152, 206, 247);
$col-13: rgb(101, 151, 189);
$col-14: rgb(201, 213, 255);
$col-15: rgb(33, 66, 86);
$col-16: rgb(154, 177, 193);
$col-17: rgb(115, 136, 152);
$col-18: rgb(167, 190, 207);
$col-19: rgb(181, 204, 221);
$col-20: rgb(128, 150, 166);
$col-21: rgb(98, 148, 186);
$col-22: rgb(62, 108, 144);
$col-23: rgb(110, 161, 200);
$col-24: rgb(123, 175, 214);
$col-25: rgb(74, 122, 158);
$col-26: rgb(0, 27, 47);
$col-27: rgb(110, 193, 255);
$col-28: rgb(35, 70, 96);
$col-29: rgb(18, 46, 64);
$col-30: rgb(170, 202, 255);
$col-31: rgb(255, 255, 255);
$col-32: rgb(78, 85, 24);
$col-33: rgb(100, 44, 36);
