$col-01: rgb(255, 255, 255);
$col-02: rgb(58, 71, 89);
$col-03: rgb(240, 245, 250);
$col-04: rgb(173, 201, 225);
$col-05: rgb(0, 105, 153);
$col-06: rgb(250, 253, 255);
$col-07: rgb(0, 116, 168);
$col-08: rgb(0, 66, 107);
$col-09: rgb(64, 107, 160);
$col-10: rgb(96, 112, 144);
$col-11: rgb(176, 201, 227);
$col-12: rgb(176, 201, 227);
$col-13: rgb(123, 138, 167);
$col-14: rgb(173, 201, 225);
$col-15: rgb(154, 180, 203);
$col-16: rgb(128, 157, 188);
$col-17: rgb(176, 201, 227);
$col-18: rgb(136, 149, 175);
$col-19: rgb(128, 143, 172);
$col-20: rgb(176, 201, 227);
$col-21: rgb(82, 121, 163);
$col-22: rgb(176, 201, 227);
$col-23: rgb(88, 106, 141);
$col-24: rgb(88, 106, 141);
$col-25: rgb(176, 201, 227);
$col-26: rgb(115, 135, 176);
$col-27: rgb(245, 250, 255);
$col-28: rgb(175, 201, 223);
$col-29: rgb(151, 183, 211);
$col-30: rgb(245, 250, 255);
$col-31: rgb(255, 255, 255);
$col-32: rgb(180, 203, 154);
$col-33: rgb(203, 154, 180);
$col-34: rgb(245, 250, 255);
$col-35: rgb(116, 128, 144);
$col-36: rgb(245, 250, 255);
