@use "style-main" as s;

s.$col-01: rgb(255, 252, 224);
s.$col-02: rgb(200, 177, 160);
s.$col-03: rgb(144, 98, 62);
s.$col-04: rgb(70, 41, 23);
s.$col-05: rgb(178, 126, 77);
s.$col-06: rgb(153, 58, 0);
s.$col-07: rgb(234, 177, 126);
s.$col-08: rgb(255, 217, 164);
s.$col-09: rgb(218, 166, 126);
s.$col-10: rgb(175, 126, 89);
s.$col-11: rgb(232, 179, 139);
s.$col-12: rgb(247, 193, 152);
s.$col-13: rgb(189, 139, 101);
s.$col-14: rgb(255, 243, 201);
s.$col-15: rgb(86, 53, 33);
s.$col-16: rgb(193, 170, 154);
s.$col-17: rgb(152, 131, 115);
s.$col-18: rgb(207, 184, 167);
s.$col-19: rgb(221, 198, 181);
s.$col-20: rgb(166, 144, 128);
s.$col-21: rgb(186, 136, 98);
s.$col-22: rgb(144, 98, 62);
s.$col-23: rgb(200, 149, 110);
s.$col-24: rgb(214, 162, 123);
s.$col-25: rgb(158, 110, 74);
s.$col-26: rgb(47, 20, 0);
s.$col-27: rgb(255, 172, 110);
s.$col-28: rgb(96, 61, 35);
s.$col-29: rgb(64, 36, 18);
s.$col-30: rgb(255, 223, 170);
s.$col-31: rgb(255, 255, 255);
s.$col-32: rgb(78, 85, 24);
s.$col-33: rgb(100, 44, 36);
s.$col-34: rgb(70, 41, 23);
s.$col-35: rgb(200, 177, 160);
s.$col-36: rgb(0, 0, 0);

s.$filter-hue-rotate-01: hue-rotate(28deg);

s.$filter-saturate-01: saturate(25%);
s.$filter-saturate-02: saturate(25%);
s.$filter-saturate-03: saturate(25%);

s.$filter-brightness-01: brightness(250%);
s.$filter-brightness-02: brightness(50%);
s.$filter-brightness-03: brightness(140%);

.colortheme-brown {
	@include s.theme;
}
