$col-01: rgb(255, 255, 255);
$col-02: rgb(86, 63, 72);
$col-03: rgb(249, 241, 245);
$col-04: rgb(219, 181, 201);
$col-05: rgb(153, 0, 105);
$col-06: rgb(255, 250, 253);
$col-07: rgb(168, 0, 116);
$col-08: rgb(107, 0, 66);
$col-09: rgb(160, 64, 107);
$col-10: rgb(144, 96, 112);
$col-11: rgb(227, 176, 201);
$col-12: rgb(227, 176, 201);
$col-13: rgb(167, 123, 138);
$col-14: rgb(225, 173, 201);
$col-15: rgb(198, 161, 180);
$col-16: rgb(182, 137, 158);
$col-17: rgb(167, 135, 145);
$col-18: rgb(221, 183, 202);
$col-19: rgb(221, 183, 202);
$col-20: rgb(171, 142, 151);
$col-21: rgb(156, 97, 123);
$col-22: rgb(136, 97, 109);
$col-23: rgb(221, 183, 202);
$col-24: rgb(221, 183, 202);
$col-25: rgb(136, 97, 109);
$col-26: rgb(170, 125, 139);
$col-27: rgb(254, 246, 250);
$col-28: rgb(218, 182, 201);
$col-29: rgb(205, 160, 183);
$col-30: rgb(254, 246, 250);
$col-31: rgb(255, 255, 255);
$col-32: rgb(180, 203, 154);
$col-33: rgb(203, 154, 180);
$col-34: rgb(254, 246, 250);
$col-35: rgb(141, 120, 129);
$col-36: rgb(246, 250, 254);
