@use "style-main" as s;

s.$col-01: rgb(255, 255, 255);
s.$col-02: rgb(86, 63, 72);
s.$col-03: rgb(249, 241, 245);
s.$col-04: rgb(219, 181, 201);
s.$col-05: rgb(153, 0, 105);
s.$col-06: rgb(255, 250, 253);
s.$col-07: rgb(168, 0, 116);
s.$col-08: rgb(107, 0, 66);
s.$col-09: rgb(160, 64, 107);
s.$col-10: rgb(144, 96, 112);
s.$col-11: rgb(227, 176, 201);
s.$col-12: rgb(227, 176, 201);
s.$col-13: rgb(167, 123, 138);
s.$col-14: rgb(225, 173, 201);
s.$col-15: rgb(198, 161, 180);
s.$col-16: rgb(182, 137, 158);
s.$col-17: rgb(167, 135, 145);
s.$col-18: rgb(221, 183, 202);
s.$col-19: rgb(221, 183, 202);
s.$col-20: rgb(171, 142, 151);
s.$col-21: rgb(156, 97, 123);
s.$col-22: rgb(136, 97, 109);
s.$col-23: rgb(221, 183, 202);
s.$col-24: rgb(221, 183, 202);
s.$col-25: rgb(136, 97, 109);
s.$col-26: rgb(170, 125, 139);
s.$col-27: rgb(254, 246, 250);
s.$col-28: rgb(218, 182, 201);
s.$col-29: rgb(205, 160, 183);
s.$col-30: rgb(254, 246, 250);
s.$col-31: rgb(255, 255, 255);
s.$col-32: rgb(180, 203, 154);
s.$col-33: rgb(203, 154, 180);
s.$col-34: rgb(254, 246, 250);
s.$col-35: rgb(141, 120, 129);
s.$col-36: rgb(246, 250, 254);

s.$filter-hue-rotate-01: hue-rotate(333deg);

s.$filter-saturate-01: saturate(40%);
s.$filter-saturate-02: saturate(40%);
s.$filter-saturate-03: saturate(25%);

s.$filter-brightness-01: brightness(100%);
s.$filter-brightness-02: brightness(1000%);
s.$filter-brightness-03: brightness(130%);

.colortheme-pink-light {
	@include s.theme;
}
