@import "colors-opacities";

$color-01: rgba(0, 0, 0, $opacity-07);
$color-02: rgba(0, 0, 0, $opacity-11);
$color-03: rgba(0, 0, 0, $opacity-13);
$color-04: rgba(0, 0, 0, $opacity-12);

$color-05: rgba($col-01, 0);
$color-06: rgba($col-01, $opacity-05);
$color-07: rgba($col-01, 1);

$color-08: rgba($col-02, $opacity-01);
$color-09: rgba($col-02, $opacity-02);
$color-10: rgba($col-02, $opacity-03);
$color-11: rgba($col-02, $opacity-04);
$color-12: rgba($col-02, $opacity-06);
$color-13: rgba($col-02, $opacity-09);
$color-14: rgba($col-02, $opacity-10);
$color-15: rgba($col-02, 1);

$color-16: rgba($col-03, 0);
$color-17: rgba($col-03, $opacity-04);
$color-18: rgba($col-03, $opacity-06);
$color-19: rgba($col-03, $opacity-08);
$color-20: rgba($col-03, 1);

$color-21: rgba($col-04, $opacity-12);
$color-22: rgba($col-04, 1);

$color-23: rgba($col-05, 1);
$color-24: rgba($col-06, 1);
$color-25: rgba($col-07, 1);
$color-26: rgba($col-08, 1);

$color-27: rgba($col-09, $opacity-14);
$color-28: rgba($col-09, $opacity-06);
$color-29: rgba($col-09, 1);

$color-30: rgba($col-10, $opacity-06);
$color-31: rgba($col-10, 1);

$color-32: rgba($col-11, $opacity-06);
$color-33: rgba($col-11, 1);

$color-34: rgba($col-12, $opacity-06);
$color-35: rgba($col-12, 1);

$color-36: rgba($col-13, $opacity-06);
$color-37: rgba($col-13, 1);

$color-38: rgba($col-14, $opacity-14);
$color-39: rgba($col-14, $opacity-06);
$color-40: rgba($col-14, $opacity-15);
$color-41: rgba($col-14, $opacity-08);

$color-42: rgba($col-15, 1);

$color-43: rgba($col-16, 1);

$color-44: rgba($col-17, 1);

$color-45: rgba($col-18, 1);

$color-46: rgba($col-19, 1);

$color-47: rgba($col-20, 1);

$color-48: rgba($col-21, 1);

$color-49: rgba($col-22, 1);

$color-50: rgba($col-23, 1);

$color-51: rgba($col-24, 1);

$color-52: rgba($col-25, 1);

$color-53: rgba($col-26, $opacity-04);
$color-54: rgba($col-26, $opacity-06);
$color-55: rgba($col-26, $opacity-17);
$color-56: rgba($col-26, $opacity-08);
$color-57: rgba($col-26, $opacity-10);

$color-58: rgba($col-27, $opacity-01);
$color-59: rgba($col-27, $opacity-16);
$color-60: rgba($col-27, $opacity-05);

$color-61: rgba($col-28, 1);

$color-62: rgba($col-29, 1);

$color-63: rgba($col-30, $opacity-15);

$color-64: rgba($col-31, 0);
$color-65: rgba($col-31, 1);

$color-66: rgba($col-32, 1);

$color-67: rgba($col-33, 1);
