$col-01: rgb(255, 255, 255);
$col-02: rgb(89, 58, 71);
$col-03: rgb(250, 240, 245);
$col-04: rgb(225, 173, 201);
$col-05: rgb(153, 0, 105);
$col-06: rgb(255, 250, 253);
$col-07: rgb(168, 0, 116);
$col-08: rgb(107, 0, 66);
$col-09: rgb(160, 64, 107);
$col-10: rgb(144, 96, 112);
$col-11: rgb(227, 176, 201);
$col-12: rgb(227, 176, 201);
$col-13: rgb(167, 123, 138);
$col-14: rgb(225, 173, 201);
$col-15: rgb(203, 154, 180);
$col-16: rgb(188, 128, 157);
$col-17: rgb(227, 176, 201);
$col-18: rgb(175, 136, 149);
$col-19: rgb(172, 128, 143);
$col-20: rgb(227, 176, 201);
$col-21: rgb(163, 82, 121);
$col-22: rgb(227, 176, 201);
$col-23: rgb(141, 88, 106);
$col-24: rgb(141, 88, 106);
$col-25: rgb(227, 176, 201);
$col-26: rgb(176, 115, 135);
$col-27: rgb(255, 245, 250);
$col-28: rgb(223, 175, 201);
$col-29: rgb(211, 151, 183);
$col-30: rgb(255, 245, 250);
$col-31: rgb(255, 255, 255);
$col-32: rgb(180, 203, 154);
$col-33: rgb(203, 154, 180);
$col-34: rgb(255, 245, 250);
$col-35: rgb(144, 116, 128);
$col-36: rgb(245, 250, 255);
