@use "style-main" as s;

s.$col-01: rgb(227, 255, 224);
s.$col-02: rgb(183, 200, 160);
s.$col-03: rgb(108, 144, 62);
s.$col-04: rgb(52, 70, 23);
s.$col-05: rgb(129, 178, 77);
s.$col-06: rgb(95, 153, 0);
s.$col-07: rgb(183, 234, 126);
s.$col-08: rgb(202, 255, 164);
s.$col-09: rgb(178, 218, 126);
s.$col-10: rgb(138, 175, 89);
s.$col-11: rgb(192, 232, 139);
s.$col-12: rgb(206, 247, 152);
s.$col-13: rgb(151, 189, 101);
s.$col-14: rgb(213, 255, 201);
s.$col-15: rgb(66, 86, 33);
s.$col-16: rgb(177, 193, 154);
s.$col-17: rgb(136, 152, 115);
s.$col-18: rgb(190, 207, 167);
s.$col-19: rgb(204, 221, 181);
s.$col-20: rgb(150, 166, 128);
s.$col-21: rgb(148, 186, 98);
s.$col-22: rgb(108, 144, 62);
s.$col-23: rgb(161, 200, 110);
s.$col-24: rgb(175, 214, 123);
s.$col-25: rgb(122, 158, 74);
s.$col-26: rgb(27, 47, 0);
s.$col-27: rgb(193, 255, 110);
s.$col-28: rgb(70, 96, 35);
s.$col-29: rgb(46, 64, 18);
s.$col-30: rgb(202, 255, 170);
s.$col-31: rgb(255, 255, 255);
s.$col-32: rgb(78, 85, 24);
s.$col-33: rgb(100, 44, 36);
s.$col-34: rgb(52, 70, 23);
s.$col-35: rgb(183, 200, 160);
s.$col-36: rgb(0, 0, 0);

s.$filter-hue-rotate-01: hue-rotate(86deg);

s.$filter-saturate-01: saturate(25%);
s.$filter-saturate-02: saturate(25%);
s.$filter-saturate-03: saturate(25%);

s.$filter-brightness-01: brightness(250%);
s.$filter-brightness-02: brightness(250%);
s.$filter-brightness-03: brightness(140%);

.colortheme-green {
	@include s.theme;
}
