@use "style-main" as s;

s.$col-01: rgb(255, 255, 255);
s.$col-02: rgb(76, 58, 89);
s.$col-03: rgb(245, 240, 250);
s.$col-04: rgb(197, 173, 225);
s.$col-05: rgb(48, 0, 153);
s.$col-06: rgb(252, 250, 255);
s.$col-07: rgb(52, 0, 168);
s.$col-08: rgb(41, 0, 107);
s.$col-09: rgb(117, 64, 160);
s.$col-10: rgb(128, 96, 144);
s.$col-11: rgb(202, 176, 227);
s.$col-12: rgb(202, 176, 227);
s.$col-13: rgb(152, 123, 167);
s.$col-14: rgb(197, 173, 225);
s.$col-15: rgb(177, 154, 203);
s.$col-16: rgb(159, 128, 188);
s.$col-17: rgb(157, 128, 172);
s.$col-18: rgb(202, 176, 227);
s.$col-19: rgb(202, 176, 227);
s.$col-20: rgb(162, 136, 175);
s.$col-21: rgb(124, 82, 163);
s.$col-22: rgb(123, 88, 141);
s.$col-23: rgb(202, 176, 227);
s.$col-24: rgb(202, 176, 227);
s.$col-25: rgb(123, 88, 141);
s.$col-26: rgb(156, 115, 176);
s.$col-27: rgb(250, 245, 255);
s.$col-28: rgb(197, 175, 223);
s.$col-29: rgb(179, 151, 211);
s.$col-30: rgb(250, 245, 255);
s.$col-31: rgb(255, 255, 255);
s.$col-32: rgb(180, 203, 154);
s.$col-33: rgb(203, 154, 180);
s.$col-34: rgb(250, 245, 255);
s.$col-35: rgb(132, 116, 144);
s.$col-36: rgb(245, 250, 255);

s.$filter-hue-rotate-01: hue-rotate(273deg);

s.$filter-saturate-01: saturate(50%);
s.$filter-saturate-02: saturate(50%);
s.$filter-saturate-03: saturate(25%);

s.$filter-brightness-01: brightness(100%);
s.$filter-brightness-02: brightness(100%);
s.$filter-brightness-03: brightness(120%);

.colortheme-purple-light {
	@include s.theme;
}
