$col-01: rgb(252, 224, 255);
$col-02: rgb(177, 160, 200);
$col-03: rgb(98, 62, 144);
$col-04: rgb(41, 23, 70);
$col-05: rgb(126, 77, 178);
$col-06: rgb(58, 0, 153);
$col-07: rgb(177, 126, 234);
$col-08: rgb(217, 164, 255);
$col-09: rgb(166, 126, 218);
$col-10: rgb(126, 89, 175);
$col-11: rgb(179, 139, 232);
$col-12: rgb(193, 152, 247);
$col-13: rgb(139, 101, 189);
$col-14: rgb(243, 201, 255);
$col-15: rgb(53, 33, 86);
$col-16: rgb(170, 154, 193);
$col-17: rgb(131, 115, 152);
$col-18: rgb(184, 167, 207);
$col-19: rgb(198, 181, 221);
$col-20: rgb(144, 128, 166);
$col-21: rgb(136, 98, 186);
$col-22: rgb(98, 62, 144);
$col-23: rgb(149, 110, 200);
$col-24: rgb(162, 123, 214);
$col-25: rgb(110, 74, 158);
$col-26: rgb(20, 0, 47);
$col-27: rgb(172, 110, 255);
$col-28: rgb(61, 35, 96);
$col-29: rgb(36, 18, 64);
$col-30: rgb(223, 170, 255);
$col-31: rgb(255, 255, 255);
$col-32: rgb(78, 85, 24);
$col-33: rgb(100, 44, 36);
