$col-01: rgb(227, 255, 224);
$col-02: rgb(183, 200, 160);
$col-03: rgb(108, 144, 62);
$col-04: rgb(52, 70, 23);     /* Basic background */
$col-05: rgb(129, 178, 77);
$col-06: rgb(95, 153, 0);
$col-07: rgb(183, 234, 126);
$col-08: rgb(202, 255, 164);
$col-09: rgb(178, 218, 126);
$col-10: rgb(138, 175, 89);
$col-11: rgb(192, 232, 139);
$col-12: rgb(206, 247, 152);
$col-13: rgb(151, 189, 101);
$col-14: rgb(213, 255, 201);
$col-15: rgb(66, 86, 33);
$col-16: rgb(177, 193, 154);
$col-17: rgb(136, 152, 115);
$col-18: rgb(190, 207, 167);
$col-19: rgb(204, 221, 181);
$col-20: rgb(150, 166, 128);
$col-21: rgb(148, 186, 98);
$col-22: rgb(108, 144, 62);
$col-23: rgb(161, 200, 110);
$col-24: rgb(175, 214, 123);
$col-25: rgb(122, 158, 74);
$col-26: rgb(27, 47, 0);
$col-27: rgb(193, 255, 110);
$col-28: rgb(70, 96, 35);
$col-29: rgb(46, 64, 18);
$col-30: rgb(202, 255, 170);
$col-31: rgb(255, 255, 255);
$col-32: rgb(78, 85, 24);
$col-33: rgb(100, 44, 36);
$col-34: rgb(52, 70, 23);
$col-35: rgb(183, 200, 160);
$col-36: rgb(0, 0, 0);
