@use "style-main" as s;

s.$col-01: rgb(224, 227, 255);
s.$col-02: rgb(160, 183, 200);
s.$col-03: rgb(62, 108, 144);
s.$col-04: rgb(23, 52, 70);
s.$col-05: rgb(77, 129, 178);
s.$col-06: rgb(0, 95, 153);
s.$col-07: rgb(126, 183, 234);
s.$col-08: rgb(164, 202, 255); 
s.$col-09: rgb(126, 178, 218);
s.$col-10: rgb(89, 138, 175);
s.$col-11: rgb(139, 192, 232);
s.$col-12: rgb(152, 206, 247);
s.$col-13: rgb(101, 151, 189);
s.$col-14: rgb(201, 213, 255);
s.$col-15: rgb(33, 66, 86);
s.$col-16: rgb(154, 177, 193);
s.$col-17: rgb(115, 136, 152);
s.$col-18: rgb(167, 190, 207);
s.$col-19: rgb(181, 204, 221);
s.$col-20: rgb(128, 150, 166);
s.$col-21: rgb(98, 148, 186);
s.$col-22: rgb(62, 108, 144);
s.$col-23: rgb(110, 161, 200);
s.$col-24: rgb(123, 175, 214);
s.$col-25: rgb(74, 122, 158);
s.$col-26: rgb(0, 27, 47);
s.$col-27: rgb(110, 193, 255);
s.$col-28: rgb(35, 70, 96);
s.$col-29: rgb(18, 46, 64);
s.$col-30: rgb(170, 202, 255);
s.$col-31: rgb(255, 255, 255);
s.$col-32: rgb(78, 85, 24);
s.$col-33: rgb(100, 44, 36);
s.$col-34: rgb(23, 52, 70);
s.$col-35: rgb(160, 183, 200);
s.$col-36: rgb(0, 0, 0);

s.$filter-hue-rotate-01: hue-rotate(-206deg);

s.$filter-saturate-01: saturate(25%);
s.$filter-saturate-02: saturate(50%);

s.$filter-brightness-01: brightness(250%);
s.$filter-brightness-02: brightness(50%);

.colortheme-blue {
	@include s.theme;
}
