*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	position: relative;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
	max-width: 100%;
}
input, button, textarea, select {
	font: inherit;
}
:focus {
	outline-style: none;
}
