@use "colors-opacities" as *;

$col-01: rgb(255, 252, 224);
$col-02: rgb(200, 177, 160);
$col-03: rgb(144, 98, 62);
$col-04: rgb(70, 41, 23);
$col-05: rgb(178, 126, 77);
$col-06: rgb(153, 58, 0);
$col-07: rgb(234, 177, 126);
$col-08: rgb(255, 217, 164);
$col-09: rgb(218, 166, 126);
$col-10: rgb(175, 126, 89);
$col-11: rgb(232, 179, 139);
$col-12: rgb(247, 193, 152);
$col-13: rgb(189, 139, 101);
$col-14: rgb(255, 243, 201);
$col-15: rgb(86, 53, 33);
$col-16: rgb(193, 170, 154);
$col-17: rgb(152, 131, 115);
$col-18: rgb(207, 184, 167);
$col-19: rgb(221, 198, 181);
$col-20: rgb(166, 144, 128);
$col-21: rgb(186, 136, 98);
$col-22: rgb(144, 98, 62);
$col-23: rgb(200, 149, 110);
$col-24: rgb(214, 162, 123);
$col-25: rgb(158, 110, 74);
$col-26: rgb(47, 20, 0);
$col-27: rgb(255, 172, 110);
$col-28: rgb(96, 61, 35);
$col-29: rgb(64, 36, 18);
$col-30: rgb(255, 223, 170);
$col-31: rgb(255, 255, 255);
$col-32: rgb(78, 85, 24);
$col-33: rgb(100, 44, 36);
$col-34: rgb(70, 41, 23);
$col-35: rgb(200, 177, 160);
$col-36: rgb(0, 0, 0);

$filter-hue-rotate-01: hue-rotate(0deg);

$filter-saturate-01: saturate(0%);
$filter-saturate-02: saturate(0%);
$filter-saturate-03: saturate(0%);

$filter-brightness-01: brightness(0%);
$filter-brightness-02: brightness(0%);
$filter-brightness-03: brightness(0%);

$color-01: rgba($col-36, $opacity-07);
$color-02: rgba($col-36, $opacity-11);
$color-03: rgba($col-36, $opacity-13);
$color-04: rgba($col-36, $opacity-12);

$color-05: rgba($col-01, 0);
$color-06: rgba($col-01, $opacity-05);
$color-07: rgba($col-01, 0.5);

$color-08: rgba($col-02, $opacity-01);
$color-09: rgba($col-02, $opacity-02);
$color-10: rgba($col-02, $opacity-03);
$color-11: rgba($col-02, $opacity-04);
$color-12: rgba($col-02, $opacity-06);
$color-13: rgba($col-02, $opacity-09);
$color-14: rgba($col-02, $opacity-10);
$color-15: rgba($col-02, 1);

$color-16: rgba($col-03, 0);
$color-17: rgba($col-03, $opacity-04);
$color-18: rgba($col-03, $opacity-06);
$color-19: rgba($col-03, $opacity-08);
$color-20: rgba($col-03, 1);

$color-21: rgba($col-04, $opacity-12);
$color-22: rgba($col-04, 1);

$color-23: rgba($col-05, 1);
$color-24: rgba($col-06, 1);
$color-25: rgba($col-07, 1);
$color-26: rgba($col-08, 1);

$color-27: rgba($col-09, $opacity-14);
$color-28: rgba($col-09, $opacity-06);
$color-73: rgba($col-09, $opacity-09);
$color-29: rgba($col-09, 1);

$color-30: rgba($col-10, $opacity-06);
$color-31: rgba($col-10, 1);

$color-32: rgba($col-11, $opacity-06);
$color-33: rgba($col-11, 1);

$color-34: rgba($col-12, $opacity-06);
$color-35: rgba($col-12, 1);

$color-36: rgba($col-13, $opacity-06);
$color-37: rgba($col-13, 1);

$color-38: rgba($col-14, $opacity-14);
$color-39: rgba($col-14, $opacity-06);
$color-40: rgba($col-14, $opacity-15);
$color-41: rgba($col-14, $opacity-08);

$color-42: rgba($col-15, 1);

$color-43: rgba($col-16, 1);

$color-44: rgba($col-17, 1);

$color-45: rgba($col-18, 1);

$color-46: rgba($col-19, 1);

$color-47: rgba($col-20, 1);

$color-48: rgba($col-21, 1);

$color-49: rgba($col-22, 1);

$color-50: rgba($col-23, 1);

$color-51: rgba($col-24, 1);

$color-52: rgba($col-25, 1);

$color-53: rgba($col-26, $opacity-04);
$color-54: rgba($col-26, $opacity-06);
$color-55: rgba($col-26, $opacity-17);
$color-56: rgba($col-26, $opacity-08);
$color-57: rgba($col-26, $opacity-10);

$color-58: rgba($col-27, $opacity-01);
$color-59: rgba($col-27, $opacity-16);
$color-60: rgba($col-27, $opacity-05);

$color-61: rgba($col-28, 1);

$color-62: rgba($col-29, 1);

$color-63: rgba($col-30, $opacity-15);

$color-64: rgba($col-31, 0);
$color-65: rgba($col-31, 1);

$color-66: rgba($col-32, 1);

$color-67: rgba($col-33, 1);

$color-68: rgba($col-34, 1);

$color-69: rgba($col-35, $opacity-02);
$color-70: rgba($col-35, $opacity-04);
$color-71: rgba($col-35, $opacity-10);
$color-72: rgba($col-35, $opacity-04);

$filter-01: $filter-hue-rotate-01 $filter-saturate-01 $filter-brightness-01;
$filter-02: $filter-hue-rotate-01 $filter-saturate-02 $filter-brightness-02;
$filter-03: $filter-hue-rotate-01 $filter-saturate-03 $filter-brightness-03;
