
/* Основные стили */

html, body {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
}
.brand, .app-cell, .block_01, .block_02, .block_03, .block_04, .block_05, .block_11, pre, .pre {
	position: relative;
}
.narrower, .auth-forms {
	width: 50%;
}
.auth .brand, .popup-content .brand  {
	top: -50px;
	text-align: center;
}
#a {
	position: absolute;
}
#mapblock {
	position: absolute;
	top: 12px; right: 12px; bottom: 12px; left: 12px;
}
.app-cell {
	box-sizing: border-box;
	padding: 12px;
	vertical-align: top;
	text-align: left;
	overflow: auto;
}
#app, #container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
}
#container > *:first-child {
	min-width: 220px;
	min-height: 480px;
}
#grid {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	display: grid;
	grid-template-areas:
		"top-left     top-basic     top-right"
		"basic-left   basic-basic   basic-right"
		"bottom-left  bottom-basic  bottom-basic"
	;
	grid-template-columns: auto 1fr auto;
	overflow: hidden;
}
#basic-basic {
	overflow: visible;
}
#top-left {
	grid-area: top-left;
}
#top-basic {
	grid-area: top-basic;
	overflow: visible;
}
#top-right {
	grid-area: top-right;
}
#basic-left__control-buttons-left, #basic-right__control-buttons-right {
	+ * {
		margin-top: 0;
	}
}
#basic-left {
	grid-area: basic-left;
}
#basic-left {
	grid-area: basic-left;
}
#basic-basic {
	grid-area: basic-basic;
	.basic-on-full {
		position: absolute;
		top: 24px; right: 80px;
		z-index: 1000;
	}
}
.basic-fulled {
	grid-template-rows: 0 1fr 0 !important;
	grid-template-columns: 0 1fr 0 !important;
	#top-left, #top-basic, #top-right, #basic-left, #basic-right, #bottom-left, #bottom-center, #bottom-right {
		display: none;
	}
}
#basic-right {
	grid-area: basic-right;
}
#bottom-left, #bottom-center, #bottom-right {
	min-height: 50px;
}
#bottom-left {
	grid-area: bottom-left;
}
#bottom-basic {
	grid-area: bottom-basic;
	display: grid;
	grid-template-columns: auto auto 1fr auto;
	grid-template-areas:
		"bottom-basic__control-buttons-bottom  bottom-choose-map  bottom-center-coordinates  bottom-altitude"
	;
	gap: 0;
	align-items: baseline;
	z-index: 200;
	input {
		width: 100px;
		margin: 2px;
	}
	select {
		margin: 2px;
	}
	#bottom-basic__control-buttons-bottom {
		grid-area: bottom-basic__control-buttons-bottom;
	}
	#bottom-choose-map {
		grid-area: bottom-choose-map;
	}
	#bottom-center-coordinates {
		grid-area: bottom-center-coordinates;
		display: flex;
		flex-flow: row nowrap;
		align-items: baseline;
		justify-content: right;
		gap: 12px;
		margin-right: 24px;
		& > * {
			flex: 0 1 auto;
		}
	}
	#bottom-altitude {
		grid-area: bottom-altitude;
	}
}
#bottom-right {
	grid-area: bottom-right;
}
#top-left h3 {
	margin: -8px 0 4px 0;
}
#top-right, #bottom-left {
	text-align: center;
}
#top-basic > *:first-child {
	display: grid;
	grid-template-columns: minmax(120px, 1fr) auto;
}
#dashboard {
	display: grid;
	grid-template-rows: auto 1fr;
}
#langs {
	margin-bottom: 12px;
}
.brand {
	box-sizing: border-box;
	min-width: 38.2%;
	padding: 0 12px;
}
#messages, .messages {
	box-sizing: border-box;
	padding: 10px 20px 12px 20px;
	z-index: 100000;
}
#messages {
	position: absolute;
	top: 0; right: 0;
	max-width: 100%;
	margin: 12px;
}
#messages.visible {top: 0;}
#messages.invisible {top: -100%;}
#imp {
	display: block;
	box-sizing: border-box;
	position: absolute;
	top: -12px; right: -2px;
	padding: 12px;
	font-size: 24px;
	z-index: 20;
}
#input-unfocus {
	box-sizing: border-box;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}
.scrollable {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	padding: 12px;
	overflow: auto;
}
#sbb-top, #sbb-right, #sbb-bottom, #sbb-left {
	display: none;
	position: absolute;
	min-width: 0; min-height: 0;
	z-index: 1000;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: url('/public/img/icons/arrow_02.svg') center/contain no-repeat;
		opacity: 0.5;
	}
}
#sbb-top, #sbb-bottom {
	left: calc(50% - 20px);
	width: 40px;
	height: 20px;
}
#sbb-right, #sbb-left {
	width: 20px;
	height: 40px;
}
#sbb-top {
	top: 0;
	&::before {
		transform: scale(75%) rotate(90deg);
	}
	&.disclosed::before {
		transform: scale(75%) rotate(-90deg);
	}
}
#sbb-right {
	bottom: calc(50% + 6px);
	right: 0;
	&::before {
		transform: scale(40%) rotate(180deg);
	}
	&.disclosed::before {
		transform: scale(40%) rotate(0deg);
	}
}
#sbb-bottom {
	bottom: 0;
	&::before {
		transform: scale(75%) rotate(-90deg);
	}
	&.disclosed::before {
		transform: scale(75%) rotate(90deg);
	}
}
#sbb-left {
	top: calc(50% + 6px);
	left: 0;
	&::before {
		transform: scale(40%) rotate(0deg);
	}
	&.disclosed::before {
		transform: scale(40%) rotate(180deg);
	}
}
#sbs-up, #sbs-down {
	display: none;
}
#sbs-top, #sbs-right, #sbs-bottom, #sbs-left {
	position: absolute;
	transition: all 0.5s;
}
#sbs-top, #sbs-bottom {
	right: 0; left: 0;
	height: 22px;
	cursor: row-resize;
}
#sbs-right, #sbs-left {
	top: 0; bottom: 0;
	width: 22px;
	cursor: col-resize;
}
#sbs-top {
	top: -11px;
}
#sbs-right {
	right: -11px;
}
#sbs-bottom {
	bottom: -11px;
}
#sbs-left {
	left: -11px;
}
#sbs-top, #sbs-right {
	z-index: 100;
}
#sbs-bottom, #sbs-left {
	z-index: 300;
}

/* Разные стили */

.block_01, .block_02, .block_03, .block_04, .block_05, .block_11, pre, .pre {
	display: block;
	margin-bottom: 18px;
	padding: 11px 16px;
	z-index: 0;
}
.popup, .popup > div, .centered {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	padding: 50px;
}
.popup {
	z-index: 1000;
}
#scroll-up, #scroll-down {
	position: fixed;
	right: 0; left: 0;
	height: 0;
	overflow: hidden;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	z-index: 50;
}
#scroll-up {
	top: 0;
}
#scroll-down {
	bottom: 0;
}
.centered {
	flex-direction: column;
}
@media screen and (max-width: 1600px) {
	.narrower, .auth-forms {
		width: 75%;
	}
}
@media screen and (max-width: 1000px) {
	#grid {
		grid-template-areas:
			"basic-left    top-basic     basic-right"
			"basic-left    basic-basic   basic-right"
			"bottom-basic  bottom-basic  bottom-basic"
		;
		#top-left, #top-right, #bottom-left {
			display: none;
		}
		#basic-left__control-buttons-left, #basic-right__control-buttons-right {
			+ * {
				margin-top: 20px;
			}
		}
		#bottom-basic {
			grid-template-columns: 150px auto 1fr auto;
			gap: 12px;
			#bottom-center-coordinates {
				flex-wrap: wrap;
				margin-right: 12px;
				& > span > span {
					display: inline-block;
					width: 1.2em;
					text-align: left;
				}
			}
			.control-buttons {
				position: relative;
				top: -3px;
			}
		}
	}
	.narrower, .auth-forms {
		width: 100%;
	}
	#basic-left .scrollable, #basic-right .scrollable {
		position: relative;
		top: auto; right: auto; bottom: auto; left: auto;
		padding: 0;
	}
	#top-basic .brand > *:first-child + * {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	#grid {
		grid-template-areas:
			"top-basic     top-basic     top-basic"
			"basic-left    basic-basic   basic-right"
			"bottom-basic  bottom-basic  bottom-basic"
		;
		#bottom-basic {
			grid-template-areas:
				"bottom-basic__control-buttons-bottom  bottom-choose-map"
				"bottom-basic__control-buttons-bottom  bottom-center-coordinates"
				"bottom-basic__control-buttons-bottom  bottom-altitude"
			;
		}
		#sbb-top, #sbb-right, #sbb-bottom, #sbb-left {
			display: block;
		}
	}
}
@media screen and (max-width: 450px) {
}
