@use "./PT-Sans_Regular.css";
@use "./PT-Sans_Italic.css";
@use "./PT-Sans_Bold.css";
@use "./PT-Sans_Bold-Italic.css";
@use "./PT-Sans_Caption-Regular.css";
@use "./PT-Sans_Caption-Bold.css";
@use "./PT-Sans_Narrow-Regular.css";
@use "./PT-Sans_Narrow-Bold.css";
